.env
.env
env
venv/
__pycache__
certificates/*.pdf
data/*.xlsx
*.xlsx
*.pdf
certificates/*.pdf
certificates/**/*pdf
certificates/**/**/*.pdf
certificates/**/**/**/*.pdf

data/*.xlsx
data/**/
data/**/*.xlsx

template/*.png
template/*.jpg
